{% extends 'player/_Master.html' %}
{% load static %}
{% block main_content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'player/img/bg-img/breadcumb3.jpg' %});">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Latest Albums</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Album Catagory Area Start ##### -->
    <section class="album-catagory section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                        <a href="{% url 'player:albums-store' 'All' %}" data-filter="*" class="active">Browse All</a>
                        <a href="{% url 'player:albums-store' 'A' %}" data-filter=".a" >A</a>
                        <a href="{% url 'player:albums-store' 'B' %}" data-filter=".b">B</a>
                        <a href="{% url 'player:albums-store' 'C' %}" data-filter=".c">C</a>
                        <a href="{% url 'player:albums-store' 'D' %}" data-filter=".d">D</a>
                        <a href="{% url 'player:albums-store' 'E' %}" data-filter=".e">E</a>
                        <a href="{% url 'player:albums-store' 'F' %}" data-filter=".f">F</a>
                        <a href="{% url 'player:albums-store' 'G' %}" data-filter=".g">G</a>
                        <a href="{% url 'player:albums-store' 'H' %}" data-filter=".h">H</a>
                        <a href="{% url 'player:albums-store' 'I' %}" data-filter=".i">I</a>
                        <a href="{% url 'player:albums-store' 'J' %}" data-filter=".j">J</a>
                        <a href="{% url 'player:albums-store' 'K' %}" data-filter=".k">K</a>
                        <a href="{% url 'player:albums-store' 'L' %}" data-filter=".l">L</a>
                        <a href="{% url 'player:albums-store' 'M' %}" data-filter=".m">M</a>
                        <a href="{% url 'player:albums-store' 'N' %}" data-filter=".n">N</a>
                        <a href="{% url 'player:albums-store' 'O' %}" data-filter=".o">O</a>
                        <a href="{% url 'player:albums-store' 'P' %}" data-filter=".p">P</a>
                        <a href="{% url 'player:albums-store' 'Q' %}" data-filter=".q">Q</a>
                        <a href="{% url 'player:albums-store' 'R' %}" data-filter=".r">R</a>
                        <a href="{% url 'player:albums-store' 'S' %}" data-filter=".s">S</a>
                        <a href="{% url 'player:albums-store' 'T' %}" data-filter=".t">T</a>
                        <a href="{% url 'player:albums-store' 'U' %}" data-filter=".u">U</a>
                        <a href="{% url 'player:albums-store' 'V' %}" data-filter=".v">V</a>
                        <a href="{% url 'player:albums-store' 'W' %}" data-filter=".w">W</a>
                        <a href="{% url 'player:albums-store' 'X' %}" data-filter=".x">X</a>
                        <a href="{% url 'player:albums-store' 'Y' %}" data-filter=".y">Y</a>
                        <a href="{% url 'player:albums-store' 'Z' %}" data-filter=".z">Z</a>
                        <a href="{% url 'player:albums-store' 'Number' %}" data-filter=".number">0-9</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Album Catagory Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <div class="oneMusic-buy-now-area mb-100">
        <div class="container">
            <div class="row">
                {% for album in albums %}
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album-area">
                        <div class="album-thumb">
                            <img src="{{ album.album_cover.url }}" alt="{{ album }}">
                            <!-- Album Price -->
                            <div class="album-price">
                                <p>$free now</p>
                            </div>
                            <!-- Play Icon -->
                            {% comment %} <div class="play-icon">
                                <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                            </div> {% endcomment %}
                        </div>
                        <div class="album-info">
                            <a href="{% url 'player:single-album' album.id %}">
                                <h5>{{ album }}</h5>
                            </a>
                            <p>{{ album.artists }}</p>
                            <p>{{ album.public_day }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="oneMusic-pagination-area wow fadeInUp" data-wow-delay="300ms">
                <nav>
                    <ul class="pagination">
                        {% comment %} <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li> {% endcomment %}
                        {% if albums.has_other_pages %}
                        {% if albums.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ albums.previous_page_number }}">Previous</a>
                        </li>
                        {% else %}
                        <div class="disable"><span></span></div>
                        {% endif %}

                        {% for i in albums.paginator.page_range %}
                        {% if albums.number == i %}
                            <li class="page-item active"><a class="page-link" href="?page={{ i }}&{{ url_search }}">{{ i }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}&{{ url_search }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                    
                        {% if albums.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ albums.next_page_number }}&{{ url_search }}">Next</a>
                        </li>
                        {% else %}
                        <div class="disable"><span></span></div>
                        {% endif %}
                    
                        {% endif %}
                    </ul>
                </nav>
            </div>
            

        </div>
    </div>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Add Area Start ##### -->
    <div class="add-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="adds">
                        <a href="#"><img src="{% static 'player/img/bg-img/add.gif' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Add Area End ##### -->

{% endblock %}