{% extends 'player/_Master.html' %}
{% load static %}
{% block main_content %}


<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'player/img/bg-img/breadcumb.jpg' %});">
    <div class="bradcumbContent">
        <p>See yout favorite artists live</p>
        <h2>Events</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- Cart Start -->
<div class="events-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="events-area-inner">
                    {% if cart|length > 0 %}
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Event</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total Price</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for item in cart %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <div class="img">
                                                {% comment %} <a href="#">
                                                    <img src="{{ event.image.url }}" alt="{{ event }}">
                                                </a> {% endcomment %}
                                                <a>{{ item.event }}</a>
                                                <p>Artists: {{ item.event.artists }}</p>
                                                <p>Date: {{ item.event.date }}</p>
                                            </div>
                                        </td>
                                        <td>{{ item.event.price }} $</td>
                                        <td>
                                            <div class="qty">
                                                <input id="txtQuantity1_{{ item.event.id }}" name="quantity1_{{ item.event.id }}" type="text" value="{{ item.quantity }}">
                                            </div>
                                        </td>
                                        <td>{{ item.total_price }} $</td>
                                        <td>
                                            <button data-toggle="modal" data-target="#sp{{ item.event.pk }}"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>

                                    <!-- Modal -->
                                    <div class="modal fade" id="sp{{ item.event.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Remove?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    This will remove the Event <b>"{{ item.event }}"</b> out of your Cart? 
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" action="{% url 'cart:delete' item.event.pk %}">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Not Really</button>
                                                        <button type="submit" class="btn btn-primary">Agree</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <a>There is no ticket in the Order</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-12">
                            <form method="post">
                                {% csrf_token %}
                                <div class="cart-summary">
                                    <div class="col-12">
                                        {{ check_out|safe }}
                                    </div>
                                    <div class="cart-content">
                                        <h1>Order Details</h1>
                                        <a>Total: <span>{{ cart.get_total_price }} $</span></a>
                                        <p>Discount: <span> 0 $</span></p>
                                        <p>This is an E-Ticket: Show your Invoice at the Event</p>
                                        <h2>Final Cost: <span>{{ cart.get_total_price }} $</span></h2>
                                        {% if user %}
                                        <h1>Customer Info</h1>
                                        <a>Address: {{ user.address }} </a>
                                        <br>
                                        <a>Name: {{ user.first_name }} {{ user.last_name }}</a>
                                        <br>
                                        <a>Phone number: {{ user.phone }} </a>
                                        <br>
                                        <a>Email: {{ user.email }} </a>
                                        <br>
                                        {% endif %}
                                    </div>
                                    <div class="cart-btn">
                                        <button type="submit" name="btnUpdateCart" value="Update Order"class="btn oneMusic-btn mt-30">
                                            Update Order <i class="fa fa-angle-double-right"></i>
                                        </button>
                                        <button type="submit" class="btn oneMusic-btn mt-30" name="btnCheckout" value="Checkout">
                                            Checkout <i class="fa fa-angle-double-right"></i>
                                        </button>
                                        {% for item in cart %}
                                        <input type="hidden" id="txtQuantity2_{{ item.event.id }}" name="quantity2_{{ item.event.id }}" value="{{ item.quantity }}">
                                        <script>
                                            $(document).ready(function () {
                                                $("#txtQuantity1_{{ item.event.id }}").change(function () {
                                                    let quantity_new = $("#txtQuantity1_{{ item.event.id }}").val();
                                                    $("#txtQuantity2_{{ item.event.id }}").val(quantity_new);
                                                });
                                            });
                                        </script>
                                        {% endfor %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->

{% endblock %}