{% extends 'player/_Master.html' %}
{% load static %}
{% block main_content %}

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url({% static 'player/img/bg-img/bg-1.jpg' %});"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">The Neighbourhood<span>The Neighbourhood</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="{% url 'player:single-album' 35 %}" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url({% static 'player/img/bg-img/bg-2.jpg' %});"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Latest album</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Arctic Monkeys<span>Arctic Monkeys</span></h2>
                                <a data-animation="fadeInUp" data-delay="500ms" href="{% url 'player:single-album' 34 %}" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Latest Albums Area Start ##### -->
    <section class="latest-albums-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>See Your Favorite Artists</p>
                        <h2>Latest Albums</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="albums-slideshow owl-carousel">
                        {% for artist in all_artist %}
                        <!-- Single Album -->
                        <div class="single-album">
                            <img href="{% url 'player:artist' artist.id %}" src="{{ artist.avartar.url }}" alt="artist">
                            <div class="album-info">
                                <a href="{% url 'player:artist' artist.id %}">
                                    <h5>{{ artist }}</h5>
                                </a>
                                {% comment %} <p>Second Song</p> {% endcomment %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Latest Albums Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <p>See what’s new</p>
                        <h2>Buy What’s New</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                {% for album in new_album %}
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                        <div class="album-thumb">
                            <a href="{% url 'player:single-album' album.id %}">
                                <img src="{{ album.album_cover.url }}" alt="{{ album }}">
                            </a>
                            <!-- Album Price -->
                            <div class="album-price">
                                <p>$free</p>
                            </div>
                            <!-- Play Icon -->
                            {% comment %} <div class="play-icon">
                                <a href="{% url 'player:single-album' album.id %}" class="video--play--btn"><span class="icon-play-button"></span></a>
                            </div> {% endcomment %}
                        </div>
                        <div class="album-info">
                            <a href="{% url 'player:single-album' album.id %}">
                                <h5>{{ album.artists }}</h5>
                            </a>
                            <p>{{ album.album_name }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="{% url 'player:albums-store' %}" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Featured Artist Area Start ##### -->
    <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url({% static 'player/img/bg-img/bg-4.jpg' %});">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img src="img/bg-img/fa.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            <p>Fetured Artits</p>
                            <a href="{% url 'player:artist' 34 %}">
                                <h2>Arctic Monkeys</h2>
                            </a>
                        </div>
                        <p>Arctic Monkeys are an English rock band formed in Sheffield in 2002. 
                            The group consists of Alex Turner (lead vocals, guitar, keyboards), Jamie Cook (guitar, keyboards), Nick O'Malley (bass guitar, backing vocals), and Matt Helders (drums, backing vocals). 
                            Former band member Andy Nicholson (bass guitar, backing vocals) left the band in 2006 shortly after their debut album was released.
                        </p>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p>Arctic Monkeys - Do I Wanna Know</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="{% static 'player/audio/Arctic Monkeys - Do I Wanna Know.mp3' %}">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Featured Artist Area End ##### -->

    <!-- ##### Miscellaneous Area Start ##### -->
    <section class="miscellaneous-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- ***** Weeks Top ***** -->
                <div class="col-12 col-lg-4">
                    <div class="weeks-top-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>Albums of the Week</p>
                            <h2>Top 5 Albums</h2>
                        </div>

                        {% for album in week_top %}
                        <!-- Single Top Item -->
                        <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
                            <div class="thumbnail">
                                <a href="{% url 'player:single-album' album.id %}">
                                    <img src="{{ album.album_cover.url }}" alt="{{ album }}">
                                </a>
                            </div>
                            <div class="content-">
                                <a href="{% url 'player:single-album' album.id %}">
                                    <h6>{{ album.artists }}</h6>
                                    <p>{{ album }}</p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <!-- ***** New Hits Songs ***** -->
                <div class="col-12 col-lg-4">
                    <div class="new-hits-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>What's Trendy Now</p>
                            <h2>This Week Hits</h2>
                        </div>
                        {% for hit in new_hits %}
                        <!-- Single Top Item -->
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img src="{{ hit.album.album_cover.url }}" alt="{{ hit.album }}">
                                </div>
                                <div class="content-">
                                    <h6>{{ hit.artists }}</h6>
                                    <p>{{ hit.album }}</p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source src="{{ hit.audio.url }}">
                            </audio>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <!-- ***** Popular Artists ***** -->
                <div class="col-12 col-lg-4">
                    <div class="popular-artists-area mb-100">
                        <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                            <p>Support Your Favorite Artist</p>
                            <h2>Popular Artist</h2>
                        </div>
                        {% for artist in popular_artist %}
                        <!-- Single Artist -->
                        <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <div class="thumbnail">
                                <a href="{% url 'player:artist' artist.id %}">
                                    <img src="{{ artist.avartar.url }}" alt="{{ artist }}">
                                </a>
                            </div>
                            <div class="content-">
                                <a href="{% url 'player:artist' artist.id %}">
                                    <p>{{ artist }}</p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Miscellaneous Area End ##### -->

{% endblock %}
