{% extends 'player/_Master.html' %}
{% load static %}
{% block main_content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'player/img/bg-img/breadcumb2.jpg' %});">
        <div class="bradcumbContent">
            <p>Welcome to your space!</p>
            <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="login-content">
                        <h3>Your Infomation</h3>
                        <div class="login-form">
                            <form method="post">
                                <div class="col-md-12">
                                    {{ result_update_info|safe }}
                                </div>
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ info_forms.first_name.label }}
                                    {{ info_forms.first_name }}
                                </div>
                                <div class="form-group">
                                    {{ info_forms.last_name.label }}
                                    {{ info_forms.last_name }}
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Email"
                                        value="{{ request.session.s_user.email }}" disabled>
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    {{ info_forms.phone.label }}
                                    {{ info_forms.phone }}
                                </div>
                                <div class="form-group">
                                    {{ info_forms.address.label }}
                                    {{ info_forms.address }}
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30" name="btnUpdate">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="login-content">
                        <h3>Change Your Password</h3>
                        <div class="login-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    {{ result_change_password|safe }}
                                </div>
                                <div class="form-group">
                                    {{ password_forms.old_password.label }}
                                    {{ password_forms.old_password }}
                                </div>
                                <div class="form-group">
                                    {{ password_forms.new_password.label }}
                                    {{ password_forms.new_password }}
                                </div>
                                <div class="form-group">
                                    {{ password_forms.confirm_password.label }}
                                    {{ password_forms.confirm_password }}
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30" name="btnChangePassword">Change</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="login-content">
                        <h3>Your Order History</h3>
                        <div class="login-form">
                            <form method="post">
                                <div class="col-md-12">
                                    {{ result_update_info|safe }}
                                </div>
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ info_forms.first_name.label }}
                                    {{ info_forms.first_name }}
                                </div>
                                <div class="form-group">
                                    {{ info_forms.last_name.label }}
                                    {{ info_forms.last_name }}
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Email"
                                        value="{{ request.session.s_user.email }}" disabled>
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    {{ info_forms.phone.label }}
                                    {{ info_forms.phone }}
                                </div>
                                <div class="form-group">
                                    {{ info_forms.address.label }}
                                    {{ info_forms.address }}
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30" name="btnUpdate">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}