{% extends 'player/_Master.html' %}
{% load static %}
{% block main_content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'player/img/bg-img/blog2.jpg' %});">
        <div class="bradcumbContent">
                <a href="{% url 'player:artist' album.artists.id %}">
                <p>{{ album.artists }}</p>
                <h2>{{ album }}</h2>
                <p>{{ album.public_day }}</p>
            </a>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="oneMusic-buy-now-area mb-100">
        <div class="container">
            <div class="row">

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center">
                        {% comment %} <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Song Area Start ##### -->
    <div class="one-music-songs-area mb-70">
        <div class="container">
            <div class="row">

                {% for song in songs %}
                <!-- Single Song Area -->
                <div class="col-12">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail">
                            <img src="{{ song.album.album_cover.url }}" alt="{{ song }}">
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p> {{ song }}</p>
                            </div>
                            <audio preload="auto" controls>
                                <source src="{{ song.audio.url }}">
                            </audio>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Pagination -->
                <div class="oneMusic-pagination-area wow fadeInUp" data-wow-delay="300ms">
                    <nav>
                        <ul class="pagination">
                            {% comment %} <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li> {% endcomment %}
                            {% if songs.has_other_pages %}
                            {% if songs.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ songs.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <div class="disable"><span></span></div>
                            {% endif %}

                            {% for i in songs.paginator.page_range %}
                            {% if songs.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}&{{ url_search }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}&{{ url_search }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                        
                            {% if songs.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ songs.next_page_number }}&{{ url_search }}">Next</a>
                            </li>
                            {% else %}
                            <div class="disable"><span></span></div>
                            {% endif %}
                        
                            {% endif %}
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>
    <!-- ##### Song Area End ##### -->

{% endblock %}